$cutieFont: "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap";
$mainColor: #1E1E1E no-repeat; // #eb7c22 | Main | 3a3633
$butColor: #3a3633 no-repeat; // #655f59
$hColor: #494848 no-repeat;
$ScrollColorA: #2a2722;
$ScrollColorB: #1e1c1b;
$pop: "Poppins";
$cursor: url(../../public/Images/cur/1.png);