$cutieFont: "https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700;800&display=swap";
$mainColor: #3a3633 no-repeat; // #eb7c22 | Main
$butColor: #655f59 no-repeat;
$ScrollColorA: #2a2722;
$ScrollColorB: #1e1c1b;
$pop: "Poppins";