@import "variables";
@import url($cutieFont);

* {
  font-family: 'Poppins', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: $mainColor;
  background-size: cover;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $ScrollColorA;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}
::-webkit-scrollbar-thumb:hover {
  background-color: $ScrollColorB;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
