@import "variables";
@import url($cutieFont);

@tailwind base;
@tailwind components;
@tailwind utilities;


* {
  font-family: 'Poppins', sans-serif;
}

html{
  overflow:hidden;
}

body {
  margin: 0;
  padding: 0;
  height: 100vh;
  background: $mainColor;
  background-size: cover;
  cursor: $cursor, auto;
}



::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: $ScrollColorA;
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
  &:hover {
    background-color: $ScrollColorB;
  }
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
}
