@import "variables";
.Hero {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 5rem;

  .box {
    width: 1250px;
    padding: 40px;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 5rem;
  }
  .box li {
    display: inline-block;
    margin: 6px;
    color: white;
  }

  .box h1 {
    font-style: normal;
    font-weight: 800;
    font-size: 34px;
    line-height: 77px;
    text-align: center;
    color: white;
  }
  .box h2 {
    font-style: normal;
    font-weight: 800;
    font-size: 20px;
    line-height: 7px;
    text-align: center;
  }

  .box li a {
    color: white;
    text-decoration: none;
    font-size: 60px;
    transition: all ease-in-out 250ms;
  }
  .box li a:hover {
   // text-shadow: 0 0 10px #fff;
    color:#494848;
    transform: scale(1.3);
    cursor: $cursor, auto;
  }
  .Img_ {
    height: fit-content;
    width: 25%;
    left: 1105px;
    top: 290px;
    border-radius: 40px;
  } 
  .Img__Blur {
    background: rgba(245, 156, 74, 0.5);
    filter: blur(100px);
  }
  
  // @media only screen and (max-width: 1024px) {
  //   display: flex;
  //   flex-direction: column;
  //   text-align: center;
  //   justify-content: center;
  //   align-items: center;
  //   .box {
  //     width: 1250px;
  //     padding: 70px;
  //   }
  // }

  @media only screen and (orientation: portrait) {
   // flex-direction: column;
    .box {
      text-align: center;
      align-items: center;
      flex-direction: column-reverse;
    }
    .Img_ {
     // width: 20%;
      width: 100%;
      height: 100px;
      height: fit-content;
      align-items: center;
    }
  }
  @media screen and (orientation: landscape) {
    .box {
      float: none;
    }
  }
  @media screen and (orientation: portrait) {
    .body {
      -webkit-backface-visibility: hidden;
    }
    .box {
      float: none;
    }
  }
}
